<p>Hi!</p>

<p>
  We thought you might want to know that someone has made a comment on the bathroom you added.
</p>
<p>
  You can check it out here: <a href="www.bathmap.info/place/1">bathmap.info/place/1</a>
</p>

Cheers,
the BathMap Team