@import "bootstrap";
@import "font-awesome";

.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 4px 0 #115599;
  background: rgba(184, 208, 238, 0.9); /* #b8d0ee */
  border: 2px solid #ccc;
  border-color: #e4e4e4 #a0c0d0 #a0c0d0 #e4e4e4;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
  color: #115599;
  margin: 0;
  padding: 0;
}

body {
  background: image_url('background-bathmap.png');
  background-attachment: fixed;
  font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.navbar {
  background: image_url('background-bathmap-nav.png');
  box-shadow: 0px 1px 10px #003366;
}

.navbar-inverse .navbar-brand {
  color: #65a0dd;
  font-family: 'chunkfiveroman';
  font-size: 36px;
}

#add-bathroom {
  font-size: 24px;
}

.pagination {
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 50px;
}

.pagination a {
  color: #ddd;
}

.help-block {
  color: #ff3333;
  background-color: #FFEEEE;
  border-radius: 3px;
  padding: 2px 8px 2px 8px;
}


#map {
  height: 300px;
}

.tag {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
  color: #208928;
}

#new_comment {
  display: inline;
}