@import "bootstrap";
@import "font-awesome";

.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 4px 0 #115599;
  background: rgba(184, 208, 238, 0.9); /* #b8d0ee */
  border: 2px solid #ccc;
  border-color: #e4e4e4 #a0c0d0 #a0c0d0 #e4e4e4;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
  color: #115599;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: 'chunkfiveroman';
}

h2, h3 {
  font-family: 'Georgia', serif;
  font-weight: bold;
}

h1>a:link, h1>a:visited, h2>a:link, h2>a:visited, h3>a:link, h3>a:visited, {
  color: #115599;
}

h1>a:hover, h1>a:active, h2>a:hover, h2>a:active, h3>a:hover, h3>a:active {
  color: #65a0dd;
}

body {
  background: image_url('background-bathmap.png');
  background-attachment: fixed;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
}

.navbar {
  background: image_url('background-bathmap-nav.png');
  box-shadow: 0px 1px 10px #003366;
  margin-top: 0;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbar-inverse .navbar-brand {
  color: #65a0dd;
  font-family: 'chunkfiveroman';
  font-size: 36px;
}

#add-bathroom, #user-email {
  font-size: 30px;
  font-family: 'Georgia', serif;
}

#user-email {
  font-weight: bold;
}

.pagination {
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 50px;
}

.pagination a {
  color: #ddd;
}

.help-block {
  color: #ff3333;
  background-color: #FFEEEE;
  border-radius: 3px;
  padding: 2px 8px 2px 8px;
}

#map-index {
  height: 400px;
}

#map {
  height: 300px;
}

.tag {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
  color: #208928;
}

#new_comment {
  display: inline;
}

.show-button {
  margin: 2px;
}

.clear {
  clear: both;
}

blockquote {
  background: #e4e4e4;
  border-left: 10px solid #115599;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}

blockquote p {
  display: inline;
}

figure {
  margin: 1.5em 10px;
}

.carousel-item img {
  object-fit: contain;
}

.carousel-caption {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 30px;
  font-weight: bold;
  text-shadow: rgba(0, 0, 0, 0.95) 2px 2px;
  background-color: rgba(0, 0, 0, 0.25);
  padding: 0;
}

.row {
  word-wrap: break-word;
}

hr {
  height: 3px;
  background-color: #115599;
  border: none;
  width: 90%;
}

:target:before {
    content:"";
    display:block;
    height:78px; /* fixed header height*/
    margin:-78px 0 0; /* negative fixed header height */
    }